* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

#top-header {
  background-color: #f2f4f7;
}

ul {
  margin: 0;
  padding: 0;
}

#top-contact a {
  text-decoration: none;
  color: #333;
}

#top-contact a:hover {
  color: red;
}

#top-header .fab {
  font-size: 20px;
}

.fa-facebook {
  color: blue;
}

.fa-instagram {
  color: red;
}

.fa-tiktok {
  color: black;
}

.fa-youtube {
  color: red;
}

.fa-cart-shopping {
  color: orangered;
}

.nav-item {
  margin-right: 10px;
}

#navbar-menu {
  background-color: #d70018;
}

#select-product-category {
  max-width: 160px;
}

/* Trang trí cho dropdown menu */
.dropdown-menu {
  background-color: #d45a69;
}

.dropdown-menu h6 {
  color: rgb(49, 48, 48);
}

.dropdown-menu a {
  color: #ffffff !important;
  /* Màu chữ trong dropdown menu */
}

.dropdown-menu a:hover {
  background-color: rgba(255, 192, 203, 0.755);
}

.breadcrumb {
  background-color: #f2f4f7;
}

.breadcrumb a {
  text-decoration: none;
  color: black;
}

.breadcrumb a:hover {
  color: red;
}

.main {
  background-color: #f2f4f7;
  margin-top: -50px;
}

.product-detail-box {
  max-width: 850px;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-name {
  color: #d5a253;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.product-image img {
  margin-top: 50px;
  width: 90%;
}

.discount-badge {
  background-color: #f8d7da;
  color: #c82333;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  margin-left: 355px;
}

#product-description {
  margin-top: -5px;
}

.product-detail {
  margin-top: 10px;
}

#product-detail {
  margin-top: -5px;
}

#product-details-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#product-details-list li {
  margin-top: 5px;
}

#product-details-list li::before {
  content: "- ";
  margin-right: 5px;
  /* Khoảng cách giữa dấu gạch ngang và nội dung */
}

.product-price {
  display: flex;
  gap: 50px;
  margin-top: 10px;
}

.price-original {
  font-size: 1.2rem;
  color: gray;
  text-decoration: line-through;
}

.price-discount {
  color: #f05a24;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-custom {
  display: flex;
  gap: 10px;
}

.btn-custom1,
.btn-custom2 {
  width: 100%;
}

.modal-header h5 {
  font-weight: bold;
  padding-left: 35px;
}

.modal-body p {
  padding-left: 100px;
  font-size: 17px;
  padding-top: 10px;
}

.modal-footer a {
  color: white;
  background-color: #63E6BE;
}

.modal-footer button {
  color: white;
  background-color: rgb(252, 174, 162);
}

/* Định vị biểu tượng giỏ hàng ở phía bên */
.cart-icon-container {
  position: fixed;
  top: 150px;
  right: 20px;
  background-color: #63E6BE;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-icon-container a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 50%;
}


#footer-main {
  height: 250px;
}

.introduce {
  margin-left: 35px;
}

.introduce ul {
  list-style: none;
  padding: 0;
}

.introduce li {
  margin-top: 25px;
}

.introduce a {
  text-decoration: none;
  color: black;
}

.introduce a:hover {
  color: red;
}

.contactFooter {
  margin-left: 13%;
}

.contactFooter ul {
  list-style: none;
  padding: 0;
}

.contactFooter i {
  margin-top: 25px;
  margin-right: 5px;
}

.contactFooter a {
  text-decoration: none;
  color: black;
}

.contactFooter a:hover {
  color: red;
}

.interactFooter {
  margin-left: 8%;
}

.bottom-social-media {
  font-size: 35px;
}

.bottom-social-media li {
  margin-top: 5px;
}


.pay ul {
  list-style: none;
  padding: 0;
}

.pay li {
  display: inline-block;
  margin-top: 10px;
}

.pay-icons img {
  width: 51px;
  height: 60px;
}

.ship h4 {
  margin-top: 15px;
}

.ship ul {
  list-style: none;
  padding: 0;
}

.ship li {
  display: inline-block;
  margin-top: 10px;
}

.ship-icons img {
  width: 51px;
  height: 60px;
}

hr {
  border: 1px solid #ccc;
  margin: 20px;
}

.footer-bottom p {
  font-weight: bold;
}